.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify
    }
.calibre10 {
    display: block
    }
.calibre11 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre12 {
    height: 360px;
    vertical-align: baseline;
    width: 259px
    }
.calibre13 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 7em 0 0
    }
.calibre14 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 14em 0 0
    }
.calibre15 {
    font-size: 1.41667em;
    line-height: 1.2
    }
.calibre16 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 2em 0 0
    }
.calibre17 {
    font-size: 1.66667em;
    line-height: 1.2
    }
.calibre18 {
    display: block;
    text-align: justify;
    text-indent: 1em;
    margin: 5em 0 0
    }
.calibre19 {
    display: block;
    text-align: justify;
    text-indent: 1em;
    margin: 1em 0 0
    }
.calibre2 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 22em 0 0 2em
    }
.calibre20 {
    display: block;
    text-align: justify;
    text-indent: 1em;
    margin: 0
    }
.calibre21 {
    display: block;
    text-align: justify;
    text-indent: 1em;
    margin: 2em 0 0
    }
.calibre22 {
    height: 360px;
    vertical-align: baseline;
    width: 246px
    }
.calibre23 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 7em 0 0
    }
.calibre24 {
    display: block;
    text-indent: -14pt;
    margin: 1em 0 0 14pt
    }
.calibre25 {
    display: block;
    text-indent: -14pt;
    margin: 0 0 0 14pt
    }
.calibre3 {
    display: block;
    height: 1em;
    border: currentColor none 0;
    margin: 0
    }
.calibre4 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 0 0 0 2em
    }
.calibre5 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 8pt 0 0
    }
.calibre6 {
    color: red
    }
.calibre7 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 11pt 0 0
    }
.calibre8 {
    font-size: 1.125em;
    line-height: 1.2
    }
.calibre9 {
    display: block;
    text-align: left;
    text-indent: 0;
    margin: 1em 0 0
    }
.italic {
    font-style: italic
    }
.mbppagebreak {
    display: block;
    margin: 0
    }
