.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify
    }
.calibre10 {
    font-size: 0.75em
    }
.calibre11 {
    display: block;
    height: 1em;
    border: currentColor none 0;
    margin: 0
    }
.calibre12 {
    display: block;
    text-align: left;
    text-indent: 0;
    margin: 0
    }
.calibre13 {
    display: block;
    text-align: right;
    text-indent: 0;
    margin: 2em 0 0
    }
.calibre14 {
    display: block;
    margin: 1em 0 0 2em
    }
.calibre15 {
    display: block;
    text-align: left;
    text-indent: 0;
    margin: 0 0 0 2em
    }
.calibre16 {
    display: block;
    margin: 3pt 0 0 2em
    }
.calibre17 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 0 0 0 2em
    }
.calibre18 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 2em 0 0
    }
.calibre19 {
    display: block;
    text-align: justify;
    text-indent: 1em;
    margin: 0
    }
.calibre2 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre20 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 0
    }
.calibre21 {
    display: block;
    text-align: right;
    text-indent: 1em;
    margin: 0
    }
.calibre22 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre23 {
    font-size: 0.77778em
    }
.calibre24 {
    font-size: 1.28571em
    }
.calibre25 {
    display: block;
    text-align: justify;
    text-indent: 1em;
    margin: 2em 0 0
    }
.calibre26 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre27 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 0
    }
.calibre28 {
    display: block;
    margin: 0 0 0 2em
    }
.calibre29 {
    display: block;
    text-align: justify;
    text-indent: 1em;
    margin: 1em 0 0
    }
.calibre3 {
    font-size: 1.41667em;
    line-height: 1.2
    }
.calibre30 {
    font-size: 0.52941em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre31 {
    font-size: 1.28571em;
    line-height: 1.2
    }
.calibre32 {
    font-size: 1em;
    line-height: normal;
    vertical-align: super
    }
.calibre33 {
    display: block;
    text-align: justify;
    text-indent: -19pt;
    margin: 1em 0 0 19pt
    }
.calibre34 {
    display: block;
    text-align: justify;
    text-indent: -19pt;
    margin: 0 0 0 19pt
    }
.calibre35 {
    display: block;
    text-indent: -14pt;
    margin: 1em 0 0 14pt
    }
.calibre36 {
    display: block;
    text-indent: -14pt;
    margin: 0 0 0 14pt
    }
.calibre4 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 4em 0 0
    }
.calibre5 {
    display: block
    }
.calibre6 {
    font-size: 1.125em;
    line-height: 1.2
    }
.calibre7 {
    display: block;
    text-align: right;
    text-indent: 0;
    margin: 4em 0 0
    }
.calibre8 {
    height: 39px;
    vertical-align: baseline;
    width: 115px
    }
.calibre9 {
    display: block;
    text-align: left;
    text-indent: 0;
    margin: 1em 0 0
    }
.italic {
    font-style: italic
    }
.mbppagebreak {
    display: block;
    margin: 0
    }
