.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify
    }
.calibre10 {
    font-size: 0.77778em
    }
.calibre11 {
    font-size: 0.71429em
    }
.calibre12 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 5pt 0 0
    }
.calibre13 {
    height: 1200px;
    vertical-align: baseline;
    width: 869px
    }
.calibre14 {
    height: 989px;
    vertical-align: baseline;
    width: 1233px
    }
.calibre15 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 3em 0 0
    }
.calibre16 {
    display: block;
    text-align: justify;
    text-indent: 1em;
    margin: 2em 0 0
    }
.calibre17 {
    display: block;
    text-align: justify;
    text-indent: 1em;
    margin: 5pt 0 0
    }
.calibre18 {
    display: block;
    height: 1em;
    border: currentColor none 0;
    margin: 0
    }
.calibre19 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre2 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 5em 0 0
    }
.calibre20 {
    height: 1200px;
    vertical-align: baseline;
    width: 896px
    }
.calibre21 {
    height: 984px;
    vertical-align: baseline;
    width: 1231px
    }
.calibre22 {
    height: 894px;
    vertical-align: baseline;
    width: 871px
    }
.calibre23 {
    height: 875px;
    vertical-align: baseline;
    width: 1085px
    }
.calibre24 {
    height: 806px;
    vertical-align: baseline;
    width: 910px
    }
.calibre25 {
    height: 1200px;
    vertical-align: baseline;
    width: 845px
    }
.calibre26 {
    height: 1018px;
    vertical-align: baseline;
    width: 1277px
    }
.calibre27 {
    height: 716px;
    vertical-align: baseline;
    width: 884px
    }
.calibre28 {
    height: 1200px;
    vertical-align: baseline;
    width: 866px
    }
.calibre29 {
    height: 985px;
    vertical-align: baseline;
    width: 1232px
    }
.calibre3 {
    font-size: 1.41667em;
    line-height: 1.2
    }
.calibre30 {
    height: 818px;
    vertical-align: baseline;
    width: 824px
    }
.calibre31 {
    height: 1044px;
    vertical-align: baseline;
    width: 1299px
    }
.calibre32 {
    height: 558px;
    vertical-align: baseline;
    width: 969px
    }
.calibre33 {
    height: 1045px;
    vertical-align: baseline;
    width: 1300px
    }
.calibre34 {
    height: 731px;
    vertical-align: baseline;
    width: 651px
    }
.calibre35 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre36 {
    display: block;
    text-indent: -14pt;
    margin: 1em 0 0 14pt
    }
.calibre37 {
    display: block;
    text-indent: -14pt;
    margin: 0 0 0 14pt
    }
.calibre4 {
    font-size: 1.83333em;
    line-height: 1.2
    }
.calibre5 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 2em 0 0
    }
.calibre6 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 9em 0 0
    }
.calibre7 {
    font-size: 0.75em
    }
.calibre8 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 0
    }
.calibre9 {
    font-size: 1em;
    line-height: normal;
    vertical-align: super
    }
.italic {
    font-style: italic
    }
.mbppagebreak {
    display: block;
    margin: 0
    }
.underline {
    text-decoration: underline
    }
