.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify
    }
.calibre10 {
    text-decoration: line-through
    }
.calibre11 {
    display: block;
    text-indent: 0;
    margin: 0
    }
.calibre12 {
    font-size: 0.41667em
    }
.calibre13 {
    color: #00f
    }
.calibre14 {
    color: gray;
    display: block;
    height: 2px;
    text-indent: 24%;
    border: currentColor inset 1px;
    margin: 0.5em auto
    }
.calibre2 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 0
    }
.calibre3 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 8pt 0 0
    }
.calibre4 {
    height: 278px;
    vertical-align: baseline;
    width: 278px
    }
.calibre5 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 0
    }
.calibre6 {
    display: block;
    height: 1em;
    border: currentColor none 0;
    margin: 0
    }
.calibre7 {
    display: block;
    text-indent: 0;
    margin: 8pt 0 0
    }
.calibre8 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 8pt 0 0
    }
.calibre9 {
    display: block;
    height: 0;
    border: currentColor none 0;
    margin: 0
    }
.italic {
    font-style: italic
    }
.mbppagebreak {
    display: block;
    margin: 0
    }
.underline {
    text-decoration: underline
    }
