.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify
    }
.calibre10 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 2em 0 0
    }
.calibre11 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 6pt 0 0
    }
.calibre12 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre13 {
    font-size: 0.77778em
    }
.calibre14 {
    font-size: 0.71429em;
    line-height: normal;
    vertical-align: super
    }
.calibre15 {
    font-size: 1em
    }
.calibre16 {
    display: block;
    margin: 2em 0 0 2em
    }
.calibre17 {
    display: block;
    text-align: left;
    text-indent: 0;
    margin: 0 0 0 2em
    }
.calibre18 {
    display: block;
    margin: 6pt 0 0 2em
    }
.calibre19 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 0 0 0 2em
    }
.calibre2 {
    display: block;
    height: 1em;
    border: currentColor none 0;
    margin: 0
    }
.calibre20 {
    font-size: 1.28571em
    }
.calibre21 {
    color: gray;
    display: block;
    height: 2px;
    text-indent: 24%;
    border: currentColor inset 1px;
    margin: 0.5em auto
    }
.calibre22 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 6pt 0 0
    }
.calibre23 {
    font-size: 1.8em;
    line-height: 1.2
    }
.calibre24 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre25 {
    font-size: 1.41667em;
    line-height: 1.2
    }
.calibre26 {
    display: block;
    text-indent: -14pt;
    margin: 1em 0 0 14pt
    }
.calibre27 {
    display: block;
    text-indent: -14pt;
    margin: 0 0 0 14pt
    }
.calibre3 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 6pt 0 0
    }
.calibre4 {
    font-size: 1.83333em;
    line-height: 1.2
    }
.calibre5 {
    height: 42px;
    vertical-align: baseline;
    width: 49px
    }
.calibre6 {
    font-size: 0.75em
    }
.calibre7 {
    display: block;
    text-align: right;
    text-indent: 2em;
    margin: 6pt 0 0
    }
.calibre8 {
    display: block
    }
.calibre9 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 3em 0 0
    }
.italic {
    font-style: italic
    }
.mbppagebreak {
    display: block;
    margin: 0
    }
