.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify
    }
.calibre10 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 2em 0 0
    }
.calibre11 {
    display: block
    }
.calibre12 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 6pt 0 0
    }
.calibre13 {
    display: block;
    margin: 6pt 0 0 2em
    }
.calibre14 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 0 0 0 2em
    }
.calibre15 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre16 {
    display: block;
    text-indent: -14pt;
    margin: 1em 0 0 14pt
    }
.calibre17 {
    display: block;
    text-indent: -14pt;
    margin: 0 0 0 14pt
    }
.calibre2 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 6pt 0 0
    }
.calibre3 {
    height: 438px;
    vertical-align: baseline;
    width: 468px
    }
.calibre4 {
    display: block;
    height: 1em;
    border: currentColor none 0;
    margin: 0
    }
.calibre5 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 4em 0 0
    }
.calibre6 {
    font-size: 1.83333em;
    line-height: 1.2
    }
.calibre7 {
    font-size: 1.41667em;
    line-height: 1.2
    }
.calibre8 {
    display: block;
    text-align: justify;
    text-indent: 1em;
    margin: 6pt 0 0
    }
.calibre9 {
    display: block;
    text-align: justify;
    text-indent: 1em;
    margin: 2em 0 0
    }
.italic {
    font-style: italic
    }
.mbppagebreak {
    display: block;
    margin: 0
    }
.underline {
    text-decoration: underline
    }
